.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: var(--header-height);
    padding: 0 20px;
    border-bottom: 1px solid var(--strokes-secondary-color, #E6E6E6);
    background: var(--background-primary-color, #FFF);
}

.row {
    display: flex;
    gap: 20px;
}