.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: var(--header-height);
    padding: 0 20px;
    border-bottom: 1px solid var(--strokes-secondary-color, #E6E6E6);
    background: var(--background-primary-color, #FFF);
    @media screen and (max-width: 760px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100svw;
        z-index: 1000;
    }
}

.row {
    display: flex;
    gap: 20px;
}

.avatar {
    position: relative;
}

.link {
    text-decoration: none;
}

.skeleton {
    max-width: 155px;
}

.text {
    @media screen and (max-width: 760px) {
        display: none;
    }
}