.button {
    font: var(--font-button);
    border-radius: 5px;
    &:disabled {
        background: var(--strokes-primary-color, #D4D4D4);
    }
}

.primary {
    background: var(--black-color, #000); 
    color: var(--text-inverted-color);
    &:focus {
        border: 1px solid var(--gray-color, #838383); 
    }
    &.lg, &.sm {
        padding: 14px 33px;
    }
}

.secondary {
    border: 1px solid var(--strokes-primary-color, #D4D4D4);
    background: var(--background-primary-color, #FFF);
    color: var(--text-color);
    &:hover,
    &:focus {
        border: 1px solid var(--gray-color, #838383); 
    }
    &.lg {
        padding: 7px 33px;
    }

    &.sm {
        padding: 7px 22px;
    }
}